<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  <title>Muzaffarnagar Chairman</title>

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}" />
</head>

<body class="sub_page">
  </div>



  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              <b>Pioneering Cleanliness Initiatives</b>
              As the Chairman Muzaffarnagar, Meenakshi Swarup has implemented several key programs under the Swachh
              Bharat Mission. Recognizing the importance of collective effort, she has engaged various stakeholders,
              including local businesses, community leaders, and citizens, to participate in the city's cleanliness
              drives. Her efforts are not just limited to periodic campaigns but extend to creating a culture of
              cleanliness and responsibility among the residents
            </p>
            <p>
              <b>Focus on Sustainability</b>
              A significant part of Swarup's agenda as the Chairman of the Muzaffarnagar Municipal Council is to make
              the city single-use plastic-free. She has launched awareness campaigns highlighting the environmental
              impact of plastics and encouraging the use of sustainable alternatives. By involving schools, colleges,
              and various social organizations, she has broadened the impact of these initiatives, ensuring that the
              message of sustainability reaches all corners of the city.
            </p>
            <p>
              <b> Recognition and Support</b>
              The efforts of Meenakshi Swarup as the नगर पालिका अध्यक्ष मुजफ्फरनगर have not gone unnoticed. Her
              leadership has been acknowledged by both the municipal administration and the citizens. The positive
              feedback and increased participation in cleanliness drives reflect the community's support for her vision.
              Under her guidance, Muzaffarnagar is steadily climbing the ranks in national cleanliness surveys,
              showcasing the tangible impact of her policies.
            </p>
            <p>
              <b>Challenges and Future Plans</b>
              Despite the significant progress, the journey towards a fully clean and sustainable Muzaffarnagar presents
              ongoing challenges. Issues like waste disposal infrastructure, public awareness, and consistent
              enforcement of regulations require continuous attention. However, as the Chairman of Muzaffarnagar, Swarup
              remains committed to addressing these challenges head-on. Her future plans include the introduction of
              advanced waste management technologies and expanding green spaces within the city.
            </p>
            <p>
              <b>Conclusion</b>
              Meenakshi Swarup exemplifies the qualities of a dedicated and visionary leader. As the Chairman of
              Muzaffarnagar, she has brought about a paradigm shift in the city's approach to cleanliness and
              sustainability. Her initiatives not only aim to improve the physical environment but also to instill a
              sense of civic duty among the residents. Under her stewardship, Muzaffarnagar is on its way to becoming a
              model city in terms of hygiene, sustainability, and community involvement.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="{{ url_for('static', filename='images/slider4-img.jpg') }}" >

            </div>
            <div class="img-box b2">
              <img src="{{ url_for('static', filename='images/slider5-img.jpg') }}" >

            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
            <a href="">

              <span>
                Nagar Palika Parishad, Muzaffarnagar, Uttar Pradesh.
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <img src="images/telephone-white.png" >
              <span>
                Call : +919997475302
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="">
              <span>
                meenakshiswarupmzn@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="info_social">
          <div>
            <a href="https://www.facebook.com/meenakshiswarupbjp">
              <img src="{{ url_for('static', filename='images/fb.png') }}" >
            </a>
          </div>
          <div>
            <a href="https://x.com/MeenakshiSwarup/">
              <img src="{{ url_for('static', filename='images/twitter.png') }}" >

            </a>
          </div>
          <div>
            <a href="">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" >
            </a>
          </div>
        </div>
      </div>
    </div>

    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9 mx-auto">
          <p>
            &copy; 2024 Developed by
            <a target="_blank" href="https://mandeep.pythonanywhere.com/"><b>Developer</b></a><br>
            &copy; Powered by
            <a href="https://linktr.ee/shubhkaj"><b> shubhkaj </b></a>

          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>

</html>